<h1>Coupons#index</h1>
<p>Find me in app/views/coupons/index.html.erb</p>
<ul>
  <% @coupons.each do |c| %>
    <li><%= c.coupon_code %> - <%= c.store %></li>
    <li> <%=link_to "#{c.coupon_code}", coupon_path(c) %>
  <% end %>
</ul>
